:root {
	// Full Slider Bar
	--color-primary-1: hsl(174, 77%, 80%);
	// Slider Backround
	--color-primary-2: hsl(174, 86%, 45%);
	// Discount Background
	--color-primary-3: hsl(14, 92%, 95%);
	// Discount Text
	--color-primary-4: hsl(15, 100%, 70%);
	// CTA Text
	--color-primary-5: hsl(226, 100%, 87%);

	// Pricing Component Background
	--color-neutral-1: hsl(0, 0%, 100%);
	// Main Background
	--color-neutral-2: hsl(230, 100%, 99%);
	// Empty Slider Bar
	--color-neutral-3: hsl(224, 65%, 95%);
	// Toggle Background
	--color-neutral-4: hsl(223, 50%, 87%);
	// Text
	--color-neutral-5: hsl(225, 20%, 60%);
	// Text & CTA Background
	--color-neutral-6: hsl(227, 35%, 25%);
}

// ---- GENERAL ----
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-family: "Manrope", sans-serif;
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: 1.5rem;
	line-height: 1;
	background-color: var(--color-neutral-2);
	background-image: url(../images/bg-pattern.svg);
	background-size: cover;
	background-repeat: no-repeat no-repeat;
}

// ---- TYPOGRAPHY ----
.heading-primary {
	color: var(--color-neutral-6);
	margin-bottom: 2rem;
	font-size: 2.8rem;
	font-weight: 800;
}

.main-paragraph {
	color: var(--color-neutral-5);
}

// ---- STYLES ----
article {
	margin: 15rem 0 5rem 0;
	text-align: center;
	background-image: url(../images/pattern-circles.svg);
	background-repeat: no-repeat no-repeat;
	background-position-x: center;
	padding: 4.8rem;
}

.section-offer,
.section-features {
	background-color: var(--color-neutral-1);
	margin: 0 auto;
	max-width: 55rem;
	border-radius: 10px 10px 0 0;
	padding: 4.8rem 4.8rem 3.2rem 4.8rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.offer-details {
	padding-top: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.page-views {
		text-transform: uppercase;
		color: var(--color-neutral-5);
		font-weight: 800;
		letter-spacing: 2px;
	}

	.offer-cost {
		color: var(--color-neutral-5);

		display: flex;
		align-items: center;
		gap: 0.4rem;

		span {
			font-size: 4rem;
			color: var(--color-neutral-6);
			font-weight: 800;
		}
	}
}

.input-wrapper {
	margin: 1.6rem auto;
}

.input-slider {
	margin: 3rem auto;
	width: 100%;
	cursor: pointer;
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	appearance: none;
	background-color: var(--color-primary-1);
}

.input-slider::-webkit-slider-runnable-track {
	border-radius: 5rem;
	height: 1rem;
}

.input-slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	appearance: none;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: var(--color-primary-2);
	background-image: url(../images/icon-slider.svg);
	background-repeat: no-repeat no-repeat;
	background-position: center;
	cursor: pointer;
}

.billing-box {
	padding-right: 2.4rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1.2rem;

	span {
		color: var(--color-neutral-5);
		font-size: 1.3rem;
	}

	.button {
		width: 4.8rem;
		height: 2.2rem;
		border-radius: 10rem;
		background-color: var(--color-neutral-4);
		padding: 0 0.4rem;
		transition: all 0.3s ease;

		display: flex;
		align-items: center;

		&:hover {
			cursor: pointer;
			background-color: var(--color-primary-1);
		}
	}

	.button--active {
		background-color: var(--color-primary-1);
	}

	.dot {
		display: block;
		cursor: pointer;
		border: none;
		height: 1.6rem;
		width: 1.6rem;
		border-radius: 50%;
		background-color: var(--color-neutral-2);
	}

	.dot--active {
		transform: translateX(2.4rem);
	}

	.discount {
		font-size: 1.1rem;
		padding: 0.5rem 1rem;
		border-radius: 10rem;
		background-color: var(--color-primary-3);
		color: var(--color-primary-4);
	}
}

.section-features {
	padding: 3.2rem 4.8rem;
	border-top: 1px solid var(--color-neutral-3);
	border-radius: 0 0 10px 10px;
}

.offer-features {
	display: flex;
	justify-content: space-between;

	.offer-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;

		p {
			color: var(--color-neutral-5);
			font-size: 1.2rem;
			display: flex;
			gap: 1.2rem;
			align-items: center;
		}
	}

	.btn {
		padding: 1.2rem 4.8rem;
		background-color: var(--color-neutral-6);
		border: none;
		color: var(--color-neutral-4);
		font-family: inherit;
		align-self: center;
		border-radius: 10rem;
		transition: all 0.3s ease;

		&:hover {
			color: var(--color-neutral-3);
			cursor: pointer;
		}
	}
}

// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
